#These are configuration files for QtCreator
SDE.config
SDE.files
SDE.includes
SDE.creator
SDE.creator.user
*.autosave

#These are configuration files for CLion
.idea/
venv/

#This is the documentation build directory
docs/

#These are common build directory names
Debug/
Release/
cmake-build-debug/
cmake-build-release/

#This is made when running Python
__pycache__

#This is pulled by the git hook
.clang-format
